@charset "UTF-8";

@media screen and (max-width: 767px) {
  /*    zmienmy style dla progu w ktorym zmienia je bootstrap*/
  /*    menu kolor bialy*/
    #brand {
        color: #0ed8d6;
    }

    .navbar-default {
        background-color: #f7f7f7;
    }

    .navbar-default .navbar-nav li a {
        color: #0ed8d6;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #0ed8d6;
    }

    .navbar-default .navbar-toggle .icon-bar:focus, .navbar-default .navbar-toggle .icon-bar:hover {
        background-color: #f7f7f7;
    }

    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: #0ed8d6;
    }
  /*    pozycje po rozinieciu przylgniete do prawej*/
    .navbar-collapse {
        text-align: right;
    }
  /*    dla sekcji team, doloz marines u góry zeby je troche odsunac*/
    #team figure {
        margin-top: 20px;
    }
}
