@import 'variables';
#portfolio {
    background-color: $color-white;
}

.thumbnail {
    border: none;
}

.photo-cont {
    height: 200px;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    .photo {
        height: 100%;
        background-position: bottom;
        background-size: cover;
        transition: all 0.5s;
        &:hover {
            transform: scale(1.5);
            cursor: pointer;
        }
        .mask {
            width: 100%;
            height: 100%;
            background-color: #0ed8d6;
            opacity: 0.0;
            transition: all 0.5s;
            position: relative;
            &:hover {
                opacity: 0.8;
            }
            .portfolio-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                i {
                    color: white;
                    font-size: 32px;
                    text-decoration: none;
                }
            }
        }
    }
}

#photo1 {
    background-image: url('../img/portfolio/box_of_cookies.jpg');
}

#photo2 {
    background-image: url('../img/portfolio/chaotic_paint.jpg');
}

#photo3 {
    background-image: url('../img/portfolio/chestnut_on_bracket.jpg');
}

#photo4 {
    background-image: url('../img/portfolio/child_with_blue_paint.jpg');
}

#photo5 {
    background-image: url('../img/portfolio/house_with_blue_doors.jpg');
}

#photo6 {
    background-image: url('../img/portfolio/typing_on_laptop.jpg');
}
