@import 'variables';
.fa-facebook,
.fa-twitter,
.fa-linkedin {
    
    background-color: $color-grey;
    color: white;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    transition: all 0.5s;
    margin: 0px 10px;
    &:hover {
        background-color: $color-blue;
        cursor: pointer;
    }
}

