@import 'variables';

* {
    font-family: 'Roboto Slab', sans-serif;
}

body {
    margin: 0px;
    box-sizing: border-box;
}

/*stylowanie nagłówkoów na resztę dokumentu*/
h1,
h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: $font-big;
}

h2 {
    font-family: 'Droid Serif', sans-serif;
    font-style: italic;
    font-weight: $font-small;
}

h4 {
    font-weight: $font-big;
}


/*dodajemy margines tylko dla pierwszego rzedu z nagłówkiem!*/
.row:first-child {
    margin-bottom: 20px;
}

/*wszedzie bedziemy miec paddingi takie same + text align center*/
section{
    padding: 50px 0px;
    text-align: center;
}


/*style przyciskow*/
#view-more,
#send-message{
    font-weight: $font-big;
    font-family: 'Montserrat', sans-serif;
    background-color: $color-blue;
    transition: all 0.5s;
}

#view-more:hover,
#send-message:hover{
    color: $color-blue;
    background-color: $color-white;
}

@import 'navbar';

@import 'header';

@import 'services';

@import 'portfolio';

@import 'team';

@import 'footer';


